# MSIS2802/IDIS3802 Spring 2019 Midterm, in-class exam

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code would not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
<li>You answer is composed of more than one output, unless explicitly permitted
</ul>

### There are two data sets for this test. First one is GOOGL_AMZN.csv, which has the Google and Amazon stock price from 2004-09-01 till end of 2018. Use this .csv and answer the first set of questions.

## Execute this code to read the 1st set of data

In [1]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

df_stock = pd.read_csv('GOOGL_AMZN.csv',index_col=0, parse_dates=True)

In [2]:
df_stock.head()

               GOOGLE       AMZN
Date
2004-09-01  50.175175  38.240002
2004-09-02  50.805805  39.180000
2004-09-03  50.055054  38.740002
2004-09-07  50.840839  38.509998
2004-09-08  51.201202  38.009998

## Problem 1 (10 pts)

### 1.1, Plot the stock chart (both stocks in one chart)

### 1.2, What is the dates for each stock hit their max ? Show only the date (If there are ties, use the first date)

## Problem 2 (10 pts)

### 2.1, If you buy then hold AMZN stock for 60 trading days, what's the max of dollars you can gain per share ? what's the max of dollars you can lose per share?  (show only the dollar amount)

### 2.2, What's the worst buy and sell decision for this GOOGLE stock ? List the buying and selling date and how much \$ you will lose per share.

## Now let's work on the 2nd data set, Boston police intervention records.

In [ ]:
with open("filename.csv") as datafile:

In [3]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

df = pd.read_csv('interventions.csv',index_col=0)
df['DATE']=pd.to_datetime(df['DATE'], format="%Y-%m-%d")

In [4]:
len(df)
df.head()

152230

,DATE,CITY,REASONS,SUBJECT_AGE,SUBJECT_VEHICLE,SUBJECT_GENDER,SUBJECT_ETHNICITY,SUBJECT_CLOTHING,OFFICER_ID
0,2013-12-10,NaN,"DRUGS, INVESTIGATION",59,NISSAN,MALE,B(Black),"blk jacket, blk shirt, blue jeans, wht sneakers",98656
1,2012-05-24,OTHER,"DRUGS, POSSESSION",26,NO DATA ENTERED,MALE,W(White),"GRY. SWEATSHIRT, BLUE JEANS",9765
2,2012-06-04,NaN,"INVESTIGATE, PERSON",18,NO DATA ENTERED,MALE,B(Black),"GRY SWEATSHIRT, GRY PANTS",83575
3,2014-06-21,Dorchester,ABDW,24,NO DATA ENTERED,MALE,B(Black),"lime green shirt, blue jeans",76146
4,2010-12-02,Dorchester,VAL,70,SATURN,MALE,B(Black),BLU DOWN VEST BLU PANTS,107106

## Data Description

The data set reports information on police interventions near Boston (one intervention per row). During an intervention, a police officer (identified by an OFFICER_ID), records information on a subject suspected to be violating the law.

#### Columns:
<ul>
<li><b>DATE</b>: the date of the intervention
<li><b>CITY</b>: the city where the intervention occurred
<li><b>REASONS</b>: a comma-separated list of reasons why the officer intervened
<li><b>SUBJECT_AGE</b>: the age of the subject suspected to be violating the law
<li><b>SUBJECT_VEHICLE</b>: the subject's vehicle's car maker
<li><b>SUBJECT_GENDER</b>: the subject's gender
<li><b>SUBJECT_ETHNICITY</b>: the subject's ethnicity
<li><b>SUBJECT_CLOTHING</b>: a comma-separated list of clothes worn by the subject
<li><b>OFFICER_ID</b>: the id of the officer performing the intevention
</ul>

## Problem 3 (10 pts)

### 3.1, How many interventions occurred in 'Dorchester'?

### 3.2, How many different police officer in this data set ?

### 3.3, How big is this data set ? (rows, columns)

## Problem 4 (10 pts)

### 4.1, Which column has the most Nan in it and how many Nan ?

### 4.2, There are some rows has invalide date entry(the DATEs are in the future compare to today's date '2019-02-20'. How many rows has this type of error?

## Problem 5 (10 pts)

### 5.1, Which police officers (based on OFFICER_ID) handled the 2nd most cases ? Find that officer's ID.

### 5.2, Which DATE this police officer handled the most interventions. List the date and the total number of interventions this police officer handled.

## Problem 6 (10 pts)

### 6.1, What's the top 5 reasons for police interventions ?

### 6.2, What is the proportion of interventions whose REASONS include FIREARM or DRUGS? You must only return one number between 0 and 1. Do not round it.

## Problem 7 (10 pts)

### Only consider the subject age between 18 to 100, for each city, 1)find the average subject age and 2)the gap between the oldest to the youngest. Rename the field to AGE_AVG and AGE_SPREAD. Sort the report based on average age ascending. Display both information in one table and shows the last 5 rows of the table.

## Problem 8 (10 pts)

### For each OFFICER_ID, find the number of interventions whose SUBJECT_VEHICLE is a TOYOTA or an HONDA. Call these columns N_TOYOTA and N_HONDA, respectively. Display the result table's first 5 rows based on N_HONDA in descending order.

## Problem 9 (10 pts)

### For each existing combination of SUBJECT_ETHNICITY and SUBJECT_GENDER, find the total number of interventions (call it N_INTERVENTIONS) and the number of interventions where the subject's age is less than or equal to 18 (call it N_YOUNG). Display the first 5 rows of this result table based on N_INTERVENTIONS in descending order.

## Problem 10 (Extra Bonus) (10 pts)

### Find the intervention where the SUBJECT_CLOTHING field has the most descriptions. Show only the DATE, REASONS, SUBJECT_CLOTHING and OFFICER_ID.

*Hint1:* You can find the number of clothes description for the subject by counting the number of elements, separated by commas(','), in the field SUBJECT_CLOTHING. 
<p>*Hint2:* Explore *.str.count()*</p>